@media (max-width: 25em) {
  .profile-card-container {
    width: 20rem;
  }

  .bio-headshot {
    top: 43%;
  }
}

@media (max-width: 21em) {
  .profile-card-container {
    width: 15rem;
  }

  .bio-headshot {
    top: 37%;
  }
}
